@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body { 
  padding: 0%;
  margin: 0%;
  font-family: Montserrat, sans-serif;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background: black;
}
p {
  white-space: pre-line;
}
h3 {
  color: rgb(255, 217, 121);
  margin: 0;
}

/* links */
a {
  text-decoration: none;
  color: white;
  font-size: clamp(1rem, 3vw, 1.2rem);
}
a:hover {
  color: black;
  background: white;
  font-weight: bold;
}



/* profile pic */
.circle {
  border-radius: 50%;
  background: white;
  width: clamp(10rem, 40%, 55vh);
  min-width: 15rem;
  display: flex;
  position: absolute;
  top: 45vh;
  right: 5vw;
}
.image-in-circle {
  width: 96%;
  padding: 2%;
  border-radius: 50%;
}

.navbar {
  height: 47px;
  width: 100%;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: space-between;

}
.navbar-icon {
  height: 35px;
  padding-top: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar a:hover {
  background: white;
}

/* mobile menu */
#navbar-links {
  /* display: none; */
  display: flex;
  flex-direction: column;
}
#navbar-links a {
  padding: 12px 28px;
  text-align: right;
}


/* start */
.start {
  background: #3B4F6C;
  height: calc(100vh - 47px);
}
.start-spacer {
  height: 15%;
}
.intro {
  width: 25vw;
  position: absolute;
  left: 10vw;
  top: 65vh;
  font-size: 2rem;
}





/* responsive design */
@media only screen and (min-width: 700px) {
  
}
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1600px) {
  
}

