@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body { 
  padding: 0%;
  margin: 0%;
  font-family: Montserrat, sans-serif;
  color: white;
}
body {
  background: black;
}
p {
  white-space: pre-line;
}
h3 {
  font-size: 24px;
}
em {
  color: #E1C99B;
  font-style: normal;
}
h2 {
  font-size: 2rem;
}


/* links */
a {
  text-decoration: none;
  color: white;
  font-size: clamp(1rem, 3vw, 1.2rem);
}
a:hover {
  color: black;
  background: white;
  font-weight: bold;
}
.capsule-button {
  padding: 0.5rem 1rem;
  border: 3px solid white;
  border-radius: 500px;
  margin: 1px 5px;
}

/* general shapes */
.circle {
  border-radius: 50%;
  background: white;
  width: 60%;
  display: flex;
}
.image-in-circle {
  width: 96%;
  padding: 2%;
  border-radius: 50%;
}
.black-rectangle {
  background: black;
  padding: 1rem 2rem;
  margin: 1rem;
}
.center-parent {
  display: flex;
  justify-content: center;
}
.center-text {
  text-align: center;
}

.navbar {
  height: 47px;
  width: 100%;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}
.navbar-icon {
  height: 35px;
  padding-top: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar a:hover {
  background: white;
}
/* mobile navbar */
#navbar-links {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 47px;
  z-index: 99;
  background: black;
  width: 100%;
}
#navbar-links a {
  padding: 12px 28px;
  text-align: right;
}


/* start */
.start {
  background: #3B4F6C;
  padding-bottom: 5rem;
}
.start-spacer {
  height: 6rem;
}
.start-spacer-v2 {
  height: 22vw;
}
#start-pic-parent {
  position: relative;
}
#start-pic {
  position: absolute;
  left: calc(20%)
}
#start-name-intro {
  padding-top: 31vw;
}
#arrow-in-circle {
  padding: 2rem;
}

/* education */
.education {
  padding-top: 2rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(#3B4F6C, #6C3B3B);
}
.quote {
  margin: 2rem;
  line-height: 36px;
  letter-spacing: 0.25px;
}
.education a:hover {
  color: #3B4F6C;
}


/* responsive design */
@media only screen and (min-width: 700px) {
  
}
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1600px) {
  
}

