@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body { 
  padding: 0%;
  margin: 0%;
  color: white;
  font-family: Montserrat, sans-serif;
}
body {
  background: black;
}
p {
  white-space: pre-line;
  font-size: 1rem;
  margin-top: 4px;
}
b {
  letter-spacing: 0.5px;
}
h3 {
  font-size: 24px;
}
em {
  color: #E1C99B;
  font-style: normal;
}
h2 {
  font-size: 2rem;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
}
.underline {
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}
h4 {
  margin-bottom: 4px;
  font-weight: bold;
}
ul {
  margin-top: 4px;
}
.title-page h1 {
  margin: 0;
  padding: 30vh 0;
  font-size: clamp(3rem, 16vw, 12rem);
  font-weight: bold;
  letter-spacing: 1px;
}

.justify-right-parent {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* links */
a {
  text-decoration: none;
  color: white;
  font-size: clamp(1rem, 3vw, 1.2rem);
}
a:hover {
  color: black;
  background: white;
  font-weight: bold;
}
.capsule-button {
  padding: 6px 1rem;
  border: 3px solid white;
  border-radius: 500px;
  margin: 5px 5px;
  display: block;
  width: fit-content;
}

/* general shapes */
.circle {
  border-radius: 50%;
  background: white;
  width: 60%;
  display: flex;
}
.image-in-circle {
  width: 96%;
  padding: 2%;
  border-radius: 50%;
}
.black-rectangle {
  background: black;
  padding: 1rem 2rem;
  margin: 4rem 1rem;
}
.center-parent {
  display: flex;
  justify-content: center;
}
.center-text {
  text-align: center;
}
.image-with-description {
  overflow: hidden;
  position: relative
}
.image-with-description img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.image-with-description div {
  position: relative;
  height: 100%;
  min-height: 10rem;
}
.image-with-description p {
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 0;
  background: linear-gradient(rgba(50, 50, 50, 0.2), rgba(0, 0, 0, 0)) ;
}
.hover-effect:hover p {
  background: none;
}
.hover-effect {
  background: linear-gradient(white 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: .4s, background-position 0s;
}
.hover-effect:hover {
  color: black;
  --p: 100%;
}


.navbar {
  height: 47px;
  width: 100%;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}
.navbar-icon {
  height: 35px;
  padding-top: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar a:hover {
  background: white;
}
/* mobile navbar */
#navbar-links {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 47px;
  z-index: 99;
  background: black;
  width: 100%;
}
#navbar-links a {
  padding: 12px 28px;
  text-align: right;
}


/* start */
.start {
  background: #3B4F6C;
  padding-bottom: 5rem;
}
.spacer {
  height: 6rem;
}
.start-spacer-v2 {
  height: calc(20vw - 2rem);
}
#start-pic-parent {
  position: relative;
}
#start-pic {
  position: absolute;
  left: calc(20%)
}
#start-name-intro {
  padding-top: 31vw;
}
#arrow-in-circle {
  padding: 2rem;
}

/* education */
.education {
  padding-top: 2rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(#3B4F6C, #6C3B3B);
}
.quote {
  margin: 2rem;
  line-height: 36px;
  letter-spacing: 0.25px;
}
.education a:hover {
  color: #3B4F6C;
}

/* projects */
.projects-title {
  background-color: #6C3B3B;;
}
.projects {
  padding-top: 2rem;
  padding-bottom: 10rem;
  background-image: linear-gradient(#6C3B3B, #3B6C69);
}
.projects h1 {
  font-size: 2.5rem;
  line-height: 45px;
}



/* responsive design */
@media only screen and (min-width: 700px) {
  
}
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1600px) {
  
}

