html, body { 
  padding: 0%;
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
body {
  background: black;
}
p {
  white-space: pre-line;
}
h1 {
  color: white;
  font-size: 15vw;
}
a {
  text-decoration: none;
  color: goldenrod;
}
a:hover {
  color: white;
  background: goldenrod;
}




.navbar {
  list-style-type: none;
  font-size: 1rem;
  background-color: black;
  border-bottom: 2px solid goldenrod;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-a {
  padding: .5rem;
  border: 0px;
}
.active {
  background-color: goldenrod;
  color: white;
}
.hi {
  position: absolute;
  top: 10vh;
}
.circle {
  border-radius: 50%;
  background: goldenrod;
  width: 50%;
  min-width: 14rem;
  display: flex;
  position: absolute;
  top: 20vh;
  right: 10vw;
}
.profilepic {
  width: 96%;
  padding: 2%;
  border-radius: 50%;
}
.parallelogram {
  background: white;
  width:100%;
  padding: 10vw 0;
  clip-path: polygon(0 calc(10vw), 100% 0, 100% calc(100% - 10vw), 0 100%); 
}
.outer-parallelogram {
  margin: 1rem 0;
  background: goldenrod;
  width:100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  clip-path: polygon(0 calc(10vw), 100% 0, 100% calc(100% - 10vw), 0 100%); 
}
.external-link {
  color: goldenrod;
  border-radius: 500px;
  padding: 0.5rem 1rem;
  border: 2px;
  border-style: solid;
  border-color: goldenrod;
}
.external-link:hover {
  color: white;
  background: goldenrod;
}